[alias]
        a       = add -A
        s       = status
        ci      = commit
        cia     = commit --amend
        cim     = commit -m
        cif     = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
        co      = checkout
        com     = checkout main
        cob     = checkout -b
        l       = log --oneline --graph
        pr      = pull -pr
        ri      = rebase -i
        staash  = stash --all
[branch]
        sort = -committerdate
[column]
        ui = auto
[commit]
        gpgsign = true
[core]
        pager = delta
        pager = delta -s
[diff]
        tool = bc
[fetch]
        prune = true
        pruneTags = true
        all = true
[gpg]
        format = ssh
[init]
        defaultBranch = main
[merge]
        tool = bc
[mergetool "bc"]
        trustExitCode = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[rebase]
        autosquash = true
        autostash = true
[rerere]
        enabled = true
[tag]
        sort = version:refname
[user]
        email = git@luladjiev.com
        name = Peter Luladjiev
        signingkey = ~/.ssh/id_ed25519.pub
